.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #2e2e2e;
    text-transform: uppercase;
    &_white {
        margin-top: 20px;
        color: #ffffff;
    }
}

.subtitle {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    color: #2e2e2e;
    &_white {
        margin-top: 22px;
        font-size: 19px;
        font-weight: 300;
        color: #ffffff;
    }
}
